<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap" rel="stylesheet">

<div class="container__big-card">
  <div class="big-card__photo">
    <img src="{{ photoCover }}" alt=""
    height="200px">
  </div>


  <div class="big-card__title">
    <h1><a href="#">{{ cardTitle }}</a></h1>
  </div>

  <div class="big-card__description">
    <p>{{ cardDescription }}</p>
  </div>
</div>
