
<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img src="https://store-images.s-microsoft.com/image/apps.47970.13995152356447586.3e46d8cd-8538-4377-826c-ab6ef69216af.d801f513-f201-45c6-9545-15769c8efbb1?mode=scale&q=90&h=720&w=1280&background=%23FFFFFF" alt="">
    </div>

    <div class="small-card__title">
      <h1><a href="#">ipsum dolor sit amet consectetur.</a></h1>
    </div>

</div>

  <div class="container__small-card__separator">
    <hr>
  </div>
  
</div>
