<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap" rel="stylesheet">


<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img src="{{ photoCover }}" alt="">
    </div>

    <div class="small-card__title">
      <h1><a href="#">{{ cardTitle }}</a></h1>
    </div>

</div>

  <div class="container__small-card__separator">
    <hr>
  </div>

</div>
