<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap" rel="stylesheet">

<div class="container__menu-bar">
  <ul>
    <li><a href="https://www.linkedin.com/in/felipe-dapont-188816199/">Linkedin</a></li>
    <li><span>•</span></li>
    <li><a href="https://github.com/fedapont">GitHub</a></li>
    <li><span>•</span></li>
    <li><a href="https://www.instagram.com/fedapont/">Instagram</a></li>
  </ul>
</div>
